.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
    width:100% ;
  }
  .aboutCard{
    width: 60%;
    display: flex;
    flex-direction: row;
    @media(max-width: 1366px){
      flex-direction: column;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  }
  .aboutContent {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
  .aboutImage {
    width: 39%;
    height: 719px;
    background-image: url('../../assets/images/aboutImage.png');
    background-size: cover;
    background-position: center;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    @media(max-width: 1366px){
      
        display: none;
    }
  }

  
  .aboutItem {
    margin-bottom: 2rem; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutTitles{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-bottom: solid 2px var(--secondary-text-color);
    width: 30%;
  }
  .aboutTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
    display: flex;
    flex-direction: row;
  }
    .aboutTitle:nth-child(2){
        margin-left: 4px;
        color: #008783;
        font-size: 2rem;
    }
  
  .aboutDescription {
    font-size: 1rem;
    color: #666;
    
  }